{{ 'featured-product.css' | asset_url | stylesheet_tag }}

<section class="feature-product-section">
  <div class="feature-product-image-fss">
    <img src="https://picsum.photos/720/500" alt="Feature Product">
  </div>
  <div class="feature-product-details-fss">
    <h2>Product Name</h2>
    <p class="price-fss">$99.99</p>
    <p class="compare-price">$129.99</p>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt euismod velit, a condimentum eros volutpat
      vel.
    </p>
    <a href="#" class="add-to-cart-btn">Add to Cart</a>
    <a href="#" class="checkout-btn">Checkout</a>
  </div>
</section>
